@import "../../styles/variables.scss";

.nav-bar-item {
  font-family: $font-body;
  @media screen and (min-width: $break-medium) {
    a {
      border-bottom: 5px solid black;
      padding: 15px 22px;
    }
    a:hover {
      border-bottom: 10px solid $color-accent-light;
      text-decoration: none;
      padding-bottom: 10px;
    }
    .active {
      border-bottom: 10px solid $color-accent-light;
      padding-bottom: 10px;
    }
  }

  @media screen and (max-width: $break-medium) {
    a:hover {
      color: $color-primary-light;
      text-decoration: none;
    }
    .active {
      border-bottom: 2px solid $color-accent-light;
    }
  }
}

.triangle-right {
  margin-top: 20px;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 100px solid $color-accent-light;
}

.triangle-left {
  margin-top: 20px;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 100px solid $color-accent-light;
}

.triangle-left-lastPage {
  margin-top: 20px;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 100px solid $color-accent-light;
}

.triangle-right-home {
  margin-top: 20px;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 100px solid $color-accent-light;
}
