@import "../../styles/variables.scss";

.box {
  background-color: $book-page-color;
  border: 3px solid $box-border-colour;
  height: 25vh;
  display: block;
}

.line {
  background-color: #9c9998;
  color: black;
  width: 0.125%;
  height: 100%;
}
