@import "../../styles/variables.scss";

.box {
  background-color: yellow;

  border: 3px solid blue;

  height: 25vh;

  display: block;
}

.line {
  background-color: #9c9998;
  color: black;
  width: 0.125%;
  height: 100%;
}
