@import "../../styles/variables.scss";

.box {
  background-color: $color-primary-light;
  border: 3px solid $color-primary-dark;
  display: block;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
}

.box-title {
  font-family: $font-heading;
  font-size: medium;
}

.box-subtitle {
  font-family: $font-body;
  font-size: small;
}

.box-content {
  font-family: $font-body;
  font-size: medium;
}

.book-mid-line {
  border-right: 1px solid $color-primary-dark;
}
