@import "../../styles/variables.scss";

h2,
h3 {
  font-family: $heading-font;
}

#book {
  background-color: #ffffff;
  height: 70vh;
  border-top-right-radius: 5.43vh;
  border-bottom-right-radius: 5.43vh;
}

// .triangle {
//   height: 110px;
//   width: 190px;
// }
//
// .triangle:before {
//   top: 110px;
//   content: "";
//   width: 0;
//   height: 0;
//   border-top: 110px solid transparent;
//   border-bottom: 110px solid transparent;
//   border-left: 190px solid #43b0f2;
// }

#title {
  border: 0.6vw solid white;
  background-color: #222222;
  color: white;
  text-align: center;
}

#spine {
  background-color: #868686;
  width: 0.7vw;
  height: 65.22vh;
  margin-top: 2.44vh;
  margin-left: 2.44vh;
  z-index: 1;
  position: absolute;
}

body {
  background-color: #bcc2c9;
  font-family: "Staatliches", cursive;
}
