$text-color__primary: #111;
$text-color__secondary: #ffffff;
$book-page-color: #ffffff;
$book-cover-color: #ffffff;
$box-border-colour: #111;

$nav-font: Quicksand, sans-serif;
$heading-font: Staatliches, cursive;
$spine-color: #868686;
$border-radius: 5.43vh;
