h2,
h3 {
  font-family: "Staatliches", cursive;
}

#book {
  /* width: 800px; */
  border: 5px solid white;
  border-radius: 10px;
  background-color: #d8d8d8;
  height: 900px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.triangle {
  transform: rotate(90deg);
  width: 0;
  height: 0;
  margin: 200px auto;
  position: relative;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;

  border-bottom: 230px solid white;
}

.triangle:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 0px solid transparent;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 200px solid #43b0f2;
  top: 20px;
  left: -120px;
}

#inner-triangle {
  position: absolute;
  background: #43b0f2;
  top: 5px; /* equal to border thickness */
  left: 5px; /* equal to border thickness */
  width: 190px; /* container height - (border thickness * 2) */
  height: 190px; /* container height - (border thickness * 2) */
}

#title {
  border: 5px solid white;
  background-color: #222222;
  color: white;
  text-align: center;
}

#spine {
  background-color: #868686;
  width: 10px;
  height: 850px;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 1;
  position: absolute;
}

body {
  background-color: #222222;
  font-family: "Staatliches", cursive;
}
