@import "../../styles/variables.scss";

.nav-bar-item {
  font-family: $font-body;
  @media screen and (min-width: $break-medium) {
    a {
      border-bottom: 5px solid black;
      padding: 15px 22px;
    };
    a:hover {
      border-bottom: 10px solid $color-accent-light;
      text-decoration: none;
      padding-bottom: 10px;
    };
    .active {
      border-bottom: 10px solid $color-accent-light;
      padding-bottom: 10px;
    };
  };

  @media screen and (max-width: $break-medium) {
    a:hover {
      color: $color-primary-light;
      text-decoration: none;
    }
    .active {
      border-bottom: 2px solid $color-accent-light;
    }
  }
}



// .triangle-right {
//   position: relative;
//   top: 500px;
//   left: 309px;
//   margin: -200px;
//   border-top: 100px solid transparent;
//   border-bottom: 100px solid transparent;
//   border-left: 100px solid $color-accent-light;

//   @media screen and (min-width: $break-medium) {
//     .triangle-right {
//       border-top: 0px solid transparent;
//       border-bottom: 0px solid transparent;
//       border-left: 0px solid $color-accent-light;
//     }
//   }

// }

@media screen and (min-width: 1200px) {
  .triangle-right {
    position: relative;
    top: 500px;
    left: 309px;
    margin: -200px;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid $color-accent-light;
  }

  .triangle-left {
    position: relative;
    top: 500px;
    right: 1231px;
    margin: -200px;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 100px solid $color-accent-light
  }
}
