h2,
h3 {
  font-family: "Staatliches", cursive;
}

#doublePage {
  border: 5px solid white;
  border-radius: 10px;
  background-color: #ffffff;
  height: 736px;
  width: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

#centerLine {
  background-color: black;
  height: 725px;
  width: 0.5%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

#title {
  border: 5px solid white;
  background-color: #222222;
  color: white;
  text-align: center;
}

#whiteBox {
  background-color: white;
  border: 2px solid #222222;
  height: 268px;
  width: 230px;
}
#greyBox {
  background-color: #d8d8d8;
  border: 1px solid #979797;
  height: 268px;
  width: 230px;
}

body {
  background-color: #bcc2c9;
  font-family: "Staatliches", cursive;
}
