@import "../../styles/variables.scss";

.heading {
  font-family: $font-heading;
  font-size: 40px;
}

#double-page::before {
  content: "";
  margin-left: -1px;
  float: left;
  padding-top: 60%;
}

#double-page {
  background-color: $color-primary-light;
  border-radius: $border-radius-book;
  margin-top: $margin-nav-bar;
}

#double-page::after {
  /* to clear float */
  content: "";
  display: table;
  clear: both;
}

.mid-line {
  border-right: 1px solid $color-secondary-light;
}

.triangle-right {
  position: relative;
  margin-right: -160px;
  left: 1126px;
  top: 250px;
  width: 0; 
  height: 0; 
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-left: 80px solid $color-accent-light;
}


.triangle-left {
  position: relative;
  right: 14px;
  top: 250px;
  width: 0; 
  height: 0; 
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-right: 80px solid $color-accent-light;
}