@import "../../styles/variables.scss";

#heading {
  font-family: $heading-font;
}

#double-page {
  background-color: $color-primary-light;
  height: 70vh;
  border-radius: $border-radius;
}

.book-mid-line {
  border-right: 1px solid $color-primary-dark;
}
